@import "tailwindcss";

:root {
  --font-heading: var(--font-urbanist);
  --font-body: var(--font-figtree);
  --background: #010206;
  --foreground: #ededed;
  --primaryRed: rgba(252, 0, 78, 1);
  --primaryIndigo: rgba(16, 203, 224, 1);
  --textIndigo: rgba(0, 231, 249, 1);
  --textGray: rgba(171, 171, 171, 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010206;
    --foreground: #ededed;
  }
}

/* html {
  width: 390px;
  margin: auto;
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-urbanist), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-figtree), sans-serif;
}
